<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>添加场地</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
</head>

<body>
	<div style="margin: 15px;">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>添加场地</legend>
		</fieldset>
		<form class="layui-form" enctype="multipart/form-data" class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">标题</label>
				<div class="layui-input-block">
					<input type="text" value="" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">价格</label>
				<div class="layui-input-block">
					<input type="text" name="price" value="" lay-verify="required|price" autocomplete="off" placeholder="请输入价格" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">所在城市</label>
				<div class="layui-input-inline">
					<select name="city" lay-verify="required">
		          <option value="">请选择城市</option>
		            <option value="南宁">南宁</option>
		        </select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">地址</label>
				<div class="layui-input-block">
					<input type="text" value="" name="address" lay-verify="required" autocomplete="off" placeholder="请输入地址" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">房间数</label>
				<div class="layui-input-block">
					<input type="text" value="" name="roomNum" lay-verify="number" autocomplete="off" placeholder="请输入房间数" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">床位数</label>
				<div class="layui-input-block">
					<input type="text" value="" name="bedNum" lay-verify="number" autocomplete="off" placeholder="请输入床位数" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">适用人数</label>
				<div class="layui-input-block">
					<input type="text" value="" name="apply" lay-verify="number" autocomplete="off" placeholder="请输入适用人数" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">场地数量</label>
				<div class="layui-input-block">
					<input type="text" value="" name="num" lay-verify="number" autocomplete="off" placeholder="请输入场地数量" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-form-item">
					<label class="layui-form-label">配套实施</label>
					<div class="layui-input-block">
						<input type="checkbox" name="facilities[1]" lay-filter="facilities" value="1" title="空调">
						<input type="checkbox" name="facilities[2]" lay-filter="facilities" value="2" title="浴室">
						<input type="checkbox" name="facilities[3]" lay-filter="facilities" value="3" title="电磁炉">
						<input type="checkbox" name="facilities[4]" lay-filter="facilities" value="4" title="电饭煲">
						<input type="checkbox" name="facilities[5]" lay-filter="facilities" value="5" title="冰箱">
						<input type="checkbox" name="facilities[6]" lay-filter="facilities" value="6" title="电吹风">
						<input type="checkbox" name="facilities[7]" lay-filter="facilities" value="7" title="热水壶">
						<input type="checkbox" name="facilities[8]" lay-filter="facilities" value="8" title="厨房">
						<input type="checkbox" name="facilities[9]" lay-filter="facilities" value="9" title="麻将">
						<input type="checkbox" name="facilities[10]" lay-filter="facilities" value="10" title="厨具">
						<input type="checkbox" name="facilities[11]" lay-filter="facilities" value="11" title="拖鞋">
						<input type="checkbox" name="facilities[12]" lay-filter="facilities" value="12" title="停车位">
						<input type="checkbox" name="facilities[13]" lay-filter="facilities" value="13" title="电视机">
						<input type="checkbox" name="facilities[14]" lay-filter="facilities" value="14" title="洗漱用品">
						<input type="checkbox" name="facilities[15]" lay-filter="facilities" value="15" title="wifi">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">商家id</label>
				<div class="layui-inline">
					<input type="text" value="" name="aid" lay-verify="number" autocomplete="off" placeholder="请输入商家id" class="layui-input">
				</div>
				<div class="layui-inline" style="color:red;">
					自己发表则输入1即可
				</div>
				<div class="layui-inline">
					<div class="layui-btn" onclick="check()">查看商家</div>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">标签</label>
				<div class="layui-inline">
					<input type="text" value="" id="blurbLabel" autocomplete="off" placeholder="输入一个标签后点添加标签" class="layui-input">
				</div>
				<div class="layui-inline">
					<div class="layui-btn" id="tabAdd">添加标签</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<div class="layui-tab" lay-filter="label" lay-allowClose="true">
						<ul class="layui-tab-title">

						</ul>
					</div>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">详细描述</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea layui-hide" name="description" id="description"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">补充介绍</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea layui-hide" name="reference" id="reference"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">温馨提示</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea layui-hide" name="remind" id="remind"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" type="submit" lay-submit="" lay-filter="add">立即提交</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/admin/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/admin/js/public.js"></script>
	<script>
		layui.use(['form', 'layedit', 'laydate', 'element'], function() {
			var form = layui.form(),
				layer = layui.layer,
				layedit = layui.layedit,
				laydate = layui.laydate;
			var $ = layui.jquery,
				element = layui.element();



			$("#tabAdd").click(function() {
				var blurbLabel = $("#blurbLabel");
				var value = blurbLabel.val();
				var flag = false;
				$(".layui-tab-title li").each(function() {
					var tag = this.innerText.replace("ဆ", "");
					if (value == tag) {
						flag = true;
					}
				});
				if (flag) {
					toast("标签已经存在");
					return;
				}
				if (value == null || value == "") {
					toast("标签值不能为空");
				} else {
					element.tabAdd('label', {
						title: value //用于演示
					});
				}
				blurbLabel.val("");
			});


			layedit.set({
				uploadImage: {
					url: '/admin//image/simple/upload',
					type: 'post',
					data: 'image',
					success: function(res) {
						res = res.parseJSON();
						console.log(res.result.imgUrl);
					}
				}
			});
			//创建一个编辑器
			var description = layedit.build('description');
			var reference = layedit.build('reference');
			var remind = layedit.build('remind');
			//自定义验证规则

			form.verify({
				price: function(value, item) {
					if (isNaN(value)) {
						return "价格格式不正确";
					}
				}
			});

			var facilities = new Array();
			form.on("checkbox(facilities)", function(data) {
				if (data.elem.checked && facilities.indexOf(data.value) == -1) {
					facilities.push(data.value);
				}

				if (!data.elem.checked && facilities.indexOf(data.value) != -1) {
					facilities.splice(facilities.indexOf(data.value), 1);
				}
				//console.log(facilities);
			});


			form.on('submit(add)', function(data) {
				console.log(data);

				var des = layedit.getContent(description);
				var ref = layedit.getContent(reference);
				var rem = layedit.getContent(remind);

				var fac = "";
				for (var i = 0; i < facilities.length; i++) {
					fac += facilities[i];
					if (i != facilities.length - 1) {
						fac += "|";
					}
				}

				var tags = "";
				$(".layui-tab-title li").each(function() {
					var tag = this.innerText.replace("ဆ", "");
					tags += tag + "|";
				});
				tags = tags.slice(0, tags.length - 1);

				var url = "/admin/site/admin/add?title=" + data.field.title + "&price=" + data.field.price + "&city=" + data.field.city + "&address=" + data.field.address + "&roomNum=" + data.field.roomNum + "&bedNum=" + data.field.bedNum + "&apply=" + data.field
					.apply + "&tags=" + tags+"&num=" + data.field.num+"&aid="+data.field.aid;

				$.ajax({
					url: url,
					type: "post",
					datatype: "json",
					data: {
						"description": des,
						"facilities": fac,
						"reference": ref,
						"remind": rem
					},
					success: function(data) {
						if (data.code == 200) {
							layer.open({
								content: '添加成功去上传图片后就可以在前台显示',
								btn: ['去上传图片', '取消'],
								yes: function(index, layero) {
									//按钮【按钮一】的回调
									location.href = "/admin/img?type=site&id="+data.result;
								}
							});
						}
					}
				});
				return false;
			});
		});

		function check() {
			var url = "http://"+document.domain+"/admin/business";
			layer.open({
				title:"查看商家",
				type: 2,
				content:url,
				area:["1000px","500px"],
			});
		}
	</script>
</body>

</html>
