<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:Caizhf -->
<!-- date:2017-6-21 -->
<mapper namespace="com.party.decoration.mapper.DecorationMapper">

	<!-- list专用 -->
	<resultMap type="com.party.domain.Decoration" id="listBaseMap">
		<id column="did" property="did" />
		<result column="title" property="title" />
		<result column="city" property="city" />
		<result column="tags" property="tags" />
		<result column="details" property="details" />
		<result column="sequence" property="sequence" />
		<result column="bottom_price" property="bottomPrice"/>
		<result column="price" property="price"/>
		<!-- 图片 -->
		<collection property="imgs" ofType="com.party.domain.Img">
			<id column="iid" property="iid" />
			<result column="product_type" property="productType" />
			<result column="product_id" property="productId" />
			<result column="img_url" property="imgUrl" />
		</collection>
	</resultMap>

	<!-- 精确查询专用 -->
	<resultMap type="com.party.domain.Decoration" id="baseMap" extends="listBaseMap">
		<!-- 所属商家 -->
		<association property="admin" javaType="com.party.domain.Admin">
			<id column="aid" property="aid" />
			<result column="account" property="account" />
			<result column="phone_number" property="phoneNumber" />
			<result column="email" property="email" />
			<result column="cdate" property="cdate" />
		</association>
		<!-- 所属主题 -->
		<association property="theme" javaType="com.party.domain.Theme">
			<id column="thid" property="thid" />
			<result column="theme_name" property="themeName" />
		</association>
	</resultMap>

<!-- DMI sql Start -->	
	<!-- list基础查询 -->
	<sql id="list">
		SELECT * FROM decoration d LEFT JOIN img i
		ON (i.product_type='布置' AND i.product_id=d.did)
	</sql>
	<!-- 分页逻辑 -->
	<sql id="page">
		<if test="startIndex!=null">
			<if test="pageSize!=null">
				LIMIT #{startIndex},#{pageSize}
			</if>
		</if>
	</sql>
	<!-- 规整排序逻辑 -->
	<sql id="orderBy">
		ORDER BY d.sequence DESC
	</sql>
	<!-- 级联admin表 -->
	<sql id="joinAdmin">
		<if test="adminId!=null">
			JOIN admin a ON a.aid=d.admin_id
		</if>
	</sql>
	<!-- 给予admin条件 -->
	<sql id="whereAdmin">
		<if test="adminId!=null">
			WHERE a.aid=#{adminId}
		</if>
	</sql>
<!-- DMI sql End -->	
	

	<insert id="save" parameterType="com.party.domain.Decoration">
		<selectKey keyProperty="did" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO decoration(title,city,tags,details,admin_id,theme_id,price,bottom_price)
		VALUES(#{title},#{city},#{tags},#{details},#{admin.aid},#{theme.thid},#{price},#{bottomPrice})
	</insert>

	<select id="findById" resultMap="baseMap" parameterType="int">
		<include refid="list"></include>
		JOIN admin a ON a.aid=d.admin_id
		LEFT JOIN theme t ON t.thid=d.theme_id
		WHERE d.did=#{did}
	</select>

	<select id="countListDecorationByThemeId" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM decoration d JOIN theme t
		ON d.theme_id=t.thid
		WHERE t.thid=#{thid}
	</select>
	
	<select id="listDecorationByThemeId" resultMap="listBaseMap" >
		<include refid="list"></include>
		JOIN theme t ON d.theme_id=t.thid
		WHERE t.thid=#{thid}
		<include refid="orderBy"></include>
		<include refid="page"></include>
	</select>

	<select id="countList" resultType="int">
		SELECT COUNT(*) FROM decoration d
		<include refid="joinAdmin"></include>
		<include refid="whereAdmin"></include>
	</select>

	<select id="list" resultMap="listBaseMap">
		<include refid="list"></include>
		<include refid="joinAdmin"></include>
		<include refid="whereAdmin"></include>
		<include refid="orderBy"></include>
		<include refid="page"></include>
	</select>

	<select id="countListDecorationLikeByTitle" resultType="int">
		SELECT COUNT(*) FROM decoration d 
		<include refid="joinAdmin"></include>
		WHERE d.title LIKE CONCAT('%',#{key},'%')
		<if test="adminId!=null">
			AND a.aid=#{adminId}
		</if>
	</select>

	<select id="listDecorationLikeByTitle" resultMap="listBaseMap">
		<include refid="list"></include>
		<include refid="joinAdmin"></include>
		WHERE d.title LIKE CONCAT('%',#{key},'%')
		<if test="adminId!=null">
			AND a.aid=#{adminId}
		</if>
		<include refid="orderBy"></include>
		<include refid="page"></include>
	</select>
	
	<!-- 主题外键设空 -->
	<update id="removeThemeForeignKeyById">
		UPDATE decoration SET theme_id=#{thid}
		WHERE did=#{did}	
	</update>

	<delete id="deleteById" parameterType="int">
		DELETE FROM decoration WHERE did=#{did}
	</delete>

	<update id="updateSequenceById">
		UPDATE decoration SET sequence=#{sequence} WHERE did=#{did}
	</update>
	
	<update id="updateById" parameterType="com.party.domain.Decoration">
		UPDATE decoration SET title=#{title},city=#{city},tags=#{tags},details=#{details}
		WHERE did=#{did}
	</update>
</mapper>